.footer {
  background: #ffffff;
  overflow: hidden;
}

.footer .footer_box .box dl {
  float: left;
  margin-left: 130px;
}

.footer .footer_box .box dl dt {
  margin-top: 38px;
  margin-bottom: 18px;
  font-size: 16px;
  color: #333333;
}

.footer .footer_box .box dl dd {
  margin: 0;
  line-height: 24px;
  font-size: 12px;
  color: #999999;
}

.footer .footer_box .box dl dd a {
  line-height: 24px;
  font-size: 12px;
  color: #999999;
}

.footer .footer_box .box dl dd:hover a {
  color: #228cff;
}

.footer .footer_box .copyright {
  margin-left: 130px;
  margin-top: 72px;
  margin-bottom: 36px;
  font-size: 12px;
  color: #999999;
}
